  <div id="world-map" style="width: 600px; height: 400px"></div>
  <script>
  $(document).ready(function () {
  //your code here    
  $(function(){
      $('#world-map').vectorMap();
    });
});

  </script>